@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

body {
  background: #fafafa; }

.app__login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #dcdcdc;
  text-align: center;
  padding: 20px;
  width: 300px;
  background: white; }
  .app__login .app__signin {
    display: flex;
    flex-direction: column;
    align-items: unset; }
    .app__login .app__signin .app__submit {
      margin-top: 10px; }
    .app__login .app__signin h5 {
      margin-top: 20px;
      text-transform: capitalize; }
      .app__login .app__signin h5 button {
        text-transform: capitalize;
        background: none;
        outline: none;
        border: none;
        color: rgba(3, 115, 252, 0.8);
        cursor: pointer;
        font-weight: 700; }

.app__header {
  padding: 10px;
  background: white;
  border-bottom: 1px solid #dcdcdc;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .app__header .app__headerImage {
    object-fit: contain; }
  .app__header button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none; }

.form__upload {
  display: flex;
  flex-direction: column;
  align-items: unset; }
  .form__upload .label__file {
    cursor: pointer; }
  .form__upload .file {
    display: none; }
  .form__upload .image {
    width: 100%;
    height: 170px;
    object-fit: cover; }

.app__posts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: unset;
  flex-wrap: wrap;
  padding: 10px; }
  .app__posts .post {
    max-width: 600px;
    border: 1px solid #dcdcdc;
    background: white;
    margin-bottom: 1rem;
    word-wrap: break-word; }
    .app__posts .post .post__header {
      padding: 10px; }
      .app__posts .post .post__header .post__avatar {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
    .app__posts .post .post__image {
      width: 100%;
      object-fit: contain;
      border-top: 1px solid #dcdcdc;
      border-bottom: 1px solid #dcdcdc; }
    .app__posts .post .post__caption {
      font-weight: 400;
      padding-left: 10px;
      margin-bottom: 10px;
      font-size: 15px; }
      .app__posts .post .post__caption strong {
        color: rgba(0, 0, 0, 0.8); }
    .app__posts .post form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #dcdcdc;
      padding: 8px; }
    .app__posts .post input[type="text"] {
      flex-grow: 1;
      border: none;
      outline: none; }

.form_update_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #dcdcdc;
  padding: 20px;
  background: white; }
  .form_update_image .center_image_profil {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .form_update_image .center_image_profil .avatar {
      width: 200px;
      height: 200px; }
    .form_update_image .center_image_profil .file {
      display: none; }
    .form_update_image .center_image_profil label {
      margin: .5rem; }
    .form_update_image .center_image_profil button:disabled {
      padding: .5rem 2rem;
      border: none;
      background: rgba(3, 115, 252, 0.4);
      pointer-events: none; }
    .form_update_image .center_image_profil button {
      background: rgba(3, 115, 252, 0.8);
      padding: .5rem 2rem;
      border: none;
      cursor: pointer;
      color: white; }

@media all and (max-width: 560px) {
  .app__posts .post {
    width: 90vw; } }

/*# sourceMappingURL=App.css.map */
